@model ZSZ.AdminWeb.Models.RoleEditGetModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="formEdit">
    <input type="hidden" name="id" id="id" value="@Model.Role.Id" />
    名称：<input type="text" name="name" id="name" value="@Model.Role.Name" />
    <div class="row c1">
        @foreach (var perm in Model.AllPerms)
        {
            <div class="col-xs-12 col-sm-3">
                @*遍历所有权限，角色具有的权限处于选中状态*@
                @*为true就会生成checked=checked(属性=属性)*@
                <input type="checkbox" id="PermissionIds_@perm.Id" checked="@Model.RolePerms.Select(p=>p.Id).Contains(perm.Id)" name="PermissionIds" value="@perm.Id" />
                <label for="PermissionIds_@perm.Id">@perm.Name</label>
                @*label for点击文字也会给复选框打钩*@
            </div>
        }
    </div>
    <input type="button" value="保存" id="btnSave" />
</form>
@section FooterScript
{
    <script type="text/javascript">
        var saveAjax = function () {
            //var id = $("#id").val();
            //var name = $("#name").val();
            var formData = $("#formEdit").serializeArray();
            var description = $("#description").val();
            $.ajax({
                url: "/Role/Edit",
                type: "post",
                data:formData,
                /*
                data: {
                    Id:id,
                    Name: name,
                    Decsription: description
                },
                */
                dataType: "json",
                success: function (res) {
                    if (res.status == "ok") {
                         alert("OK");
                        //刷新父窗口
                         parent.location.reload();
                    }
                    else {
                        alert("error");
                    }
                },
                error: function () { alert("请求出错") }
            });
        };


            $(function () {
                $("#btnSave").click(saveAjax);
            });

    </script>
}
